<div id="main">

    <form action= './gehitu' method="post">
            <label for="name">Name</label>
            <input type="text" id="item" name="item" value="">
            <label for="name">Qty</label>
            <input type="text" id="qty" name="qty" value="">
            <label for="name">Status</label>
            <input type="text" id="status" name="status" value="">
            <label for="name">Size</label>
            <input type="text" id="size" name="size" value="">
    
    
            <input type="submit" class="form-submit" value="Add">
    </form>
    
    </div>